<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class=" bg-gradient">

    <%- include('partials/navbar') %>

    <div class="container pt-2 mt-5" style="height:90%">
        <div class="row w-100 justify-content-sm-center">
            <div class="col-sm-10 text-center text-white">
                <p>The availability and requirement status of all PPEs are shown in a map here. Click on the red + button to
                    register a new status or the grey list button to view this information in a list. Clicking on a map marker
                    will show more information like quantity of items and contact.</p>
            </div>
        </div>
        <div id="mapid" class="h-100"></div>
        <div class="fab-container">
            <a type="button" class="btn btn-danger btn-fab" href="/ppe/create"><span class="text">+</span></a>
            <a type="button" class="btn btn-fab btn-secondary btn-sm" href="/ppe/list" style>
                <span class="material-icons">
                    list
                </span>
            </a>
        </div>

    </div>


    <script>

        var mymap = L.map('mapid').setView([<%- lat %>, <%- lng %>], <%- zoom %>);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hpbmphbiIsImEiOiJjazhiMHM2bzQwN2oyM2tvM3d3cm81dmxsIn0.cVV5b0Ey8lIQ2DcsJ5ZDmA', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        var greenIcon = L.icon({
            iconUrl: '/images/green-marker.svg',

            iconSize: [38, 95], // size of the icon
            iconAnchor: [19, 47], // point of the icon which will correspond to marker's location
        });
        var redIcon = L.icon({
            iconUrl: '/images/red-marker.svg',

            iconSize: [38, 95], // size of the icon
            iconAnchor: [19, 47], // point of the icon which will correspond to marker's location
        });
        const availability_url = "/availability";
        const requirement_url = "/requirement";

        $(function () {
            // $ methods go here...
            $.get(availability_url, function (data) {
                // console.log(data)
                for (let i of data) {
                    const marker = L.marker([i.latitude, i.longitude], { icon: greenIcon }).addTo(mymap);
                    marker.bindPopup(`
                    <b>Available</b><br>
                    ${i.quantity} ${i.itemType}s<br>
                    ${i.name}<br>
                    `);
                }
            });
            // Plot requirements
            $.get(requirement_url, function (data) {
                // console.log(data)
                for (let i of data) {
                    const marker = L.marker([i.latitude, i.longitude], { icon: redIcon }).addTo(mymap);
                    marker.bindPopup(`
                    <b>Required</b><br>
                    ${i.quantity} ${i.itemType}s<br>
                    ${i.name}<br>
                    `);
                }
            });
        });

    </script>
</body>

</html>